* {
    padding: 0;
    margin: 0;
    border: 0;
    padding-block: 0;
    padding-inline: 0;
}

*,*:before,*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,:active {
    outline: none;
}

a:focus,a:active {
    outline: none;
}

nav,footer,header,aside {
    display: block;
}

html,body {
    height: 100%;
    width: 100%;
    font-size: 16px;
    font-style: normal;
    scroll-behavior: smooth;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
    background: transparent;
    font-size: 1rem;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    font-size: 1rem;
}